* {
  border: 2px solid red;
}

body {
    height:100vh;
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header, .middle-top {
    background-color: #1F2937;
}

.header, .middle-top, .middle-bottom {
    padding-left: 420px;
    padding-right: 420px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
}

li {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.middle-top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-top .box {
    display: flex;
}

.middle-top .left, .middle-top .right {
    flex: 1;
}

.middle-top .left {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

.middle-top .left .top {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.middle-top .left .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left .bottom .text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 24px;
    border-radius: 6px;
    border-style:solid;
    border-color: #3882F6;
}

.middle-top .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color:#E5E7EB;
}

.middle-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-bottom .cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: stretch;
}

.card img {
    width: 200px;
    height: 200px;
}

.card .text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}