@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  /* border: 2px solid red; */
}

body {
    height:100vh;
    width: 100vw;
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.header, .middle-top {
    background-color: #1F2937;
}

.header, .middle-top, .middle-bottom, .quote, .call-button {
    padding-left: 20vw;
    padding-right: 20vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
}

li {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.middle-top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.middle-top .box {
    display: flex;
}

.middle-top .left, .middle-top .right {
    flex: 1;
}

.middle-top .left {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}

.middle-top .left .top {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.middle-top .left .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left .bottom .text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 2vw;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 24px;
    border-radius: 6px;
    border-style:solid;
    border-color: #3882F6;
}

.middle-top .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color:#E5E7EB;
}

.middle-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
}

.middle-bottom .info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 5vh;
}

.middle-bottom .cards {
    display: flex;
    /* padding-left: 20vw; */
    /* padding-right: 20vw; */
    /* justify-content: space-evenly; */
}

.cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: stretch;
    margin-right: 5vw;
}

.card img {
    width: 10vw;
    height: 20vh;
    margin:auto;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.card .text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.quote {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.quote-border {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-left: 20vw; */
}

.quote-border .text {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: bold;
    /* margin-right: 1vw; */
}

.call-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.banner {
    flex: 1;
    background-color: #3882F6;
    display: flex;
    border: solid #3882F6;
    border-radius: 8px;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
}

.banner .text {
    display: flex;
    flex-direction: column;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 20px;
}

.banner .sign-up {
    font-weight: normal;
    font-size:initial;
}

.banner button {
    align-self: center;
    border-color: #E5E7EB;
    padding: 4px 32px;
    margin-right: 2vw;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .text {
    color: #E5E7EB;
    font-size: 18px;
}